snippet si
    self::info('lll $1', ['value' => $0]);

snippet li
    Log::info('lll $1', ['value' => $0]);

snippet gfailing
        /**
         * @group failing
         */

snippet ech
    echo PHP_EOL . '$1' . $0 . PHP_EOL;

