snippet si
    self::info('youssef php logging'n ['value' => $0]);

snippet li
    Log::info('youssef php logging'n ['value' => $0]);

snippet gfailing
        /**
         * @group failing
         */

snippet ech
    echo $0 . PHP_EOL

